
//premiere feuille de style avec sass
/*premiere feuille de style avec sass*/


//Variables 
/*Variables*/

$color1:rgb(214, 33, 63);
$color2:#7f7e7d;
$colorbg:#ffffff;
$colorBgBody:#ebebeb;

//this is an invisible comment
/*This is a visible comment*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: $colorBgBody;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $colorBgBody;
}

//Nesting selectors and ampersand
/*Nesting selectors and ampersand*/

.lee {
    padding: 40px;
    margin: 40px;
    background-color: white;
    width: 50%;
    img {
        border: 2px solid #7f7e7d;
        border-radius: 50%;
        width: 6em;
        margin:auto;
            &:hover {
                transform: scale(1.5);
                transition-duration:0.8s;
                filter: drop-shadow(0 0 0.60rem $color1);
        }
    }   
}

#boxImgLee {
    margin-top: 33px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 15px 24px;
    border: 1px solid #a12727;
    border-radius: 6px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#5c1313));
    background: -moz-linear-gradient(top, #ff4a4a, #5c1313);
    background: linear-gradient(to bottom, #ff4a4a, #5c1313);
    font: normal normal normal 16px arial;
    color: #ffffff!important;
    text-decoration: none;

    &:hover,
    &:focus {
        background: #ff5959;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#6e1717));
        background: -moz-linear-gradient(top, #ff5959, #6e1717);
        background: linear-gradient(to bottom, #fb9f9f, #5d0a0a);
        color: #ffffff;
        text-decoration: none;
    }
    &:active {
        background: #982727;
        background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#5c1313));
        background: -moz-linear-gradient(top, #982727, #5c1313);
        background: linear-gradient(to bottom, #982727, #5c1313);
    }
}
a.button p {
    color: #ffffff;
}
h1 {
    margin: 17px;
    font-family: "Montserrat";
    color: $color1;
    text-align: center;
  }
h2 {
    margin: 5px 0px 52px 0px;
    font-family: "Montserrat";
    text-align: center;
    color: #7f7e7d;
  }
h3 {font-family: "Montserrat";
     text-align: center;
     color:#7f7e7d;
     margin-bottom: 20px;
  }
p {
    text-align: justify;
    font-family: "Open Sans";
    font-size: 18px;
    color: #7f7e7d;
  } 
.icon{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px 100px;
}
.fa {
    padding: 1em;
    border-radius: 6px;
    color: #7f7e7d;
    text-decoration: none;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5em!important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
        color:grey;
        background-color: #ebebeb;
        transition-duration: 0.5s;
        transform: scale(1.1);
    }
}
.fa p {
    margin-top: 10px;
}
li {
    display: inline-block;  

    &:hover {
        color:$colorbg;
    }
}
.global {
    width: 95%;
    max-width: 700px;
    min-width: 300px;
    border-radius: 6px;
    margin: 8px auto;
    background-color:$colorbg;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 9px 1px #B8B8B8;
    box-shadow: 1px 1px 9px 1px #B8B8B8;
}  
.pelis {
    display: grid;
    grid-gap: 30px;
    grid-template: 100px repeat(3, 1fr) / auto auto;
    grid-template-areas:    "ti   ti"
                            "o1   t1"
                            "h2   hp"
                            "a3   ap";      
}
    h2 {
    grid-area: ti;
}
    .odi-img {
        grid-area: o1;
    }
    .odi-txt {
        grid-area: t1;
    }
    .hul-img {
        grid-area: h2;
    }
    .hul-txt {
        grid-area: hp;
    }
    .ali-img {
        grid-area: a3;
    }
    .ali-txt {
        grid-area: ap;
    }

    //responsiveness
    /*responsiveness*/
    
    @media only screen and (max-width: 600px) {
        body {
            max-width: 100%;
        }
        .icon {
            padding: 10px 10px;
            }
        .fa p {
            font-size: 12px;
            margin-top: 10px;
            }
        .fa {font-size: 1em !important;
            }
        p {
                    font-size: 0.75em;
                } 
        .pelis img {
            margin-top: 52px;
        }
      }


 